* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main {
  width: 400px;
  margin: auto;
  background-color: white;
  height: 100%;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  margin-top: -27px;
  color: #777777;

}

.dash {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.title_1 {
  color: #434343;
  width: 332.08px;
  height: 35px;
  left: 20px;
  top: 129px;
  font-style: normal;
  font-size: 22px;
  line-height: 23px;
  color: #434343;
}
